    /* .image {
        width: 1000px;
        margin: 50px auto;
        position: relative;
        width: 20px;
    }  */
    
    .image {
        width: 100px;
        margin: 50px auto;
        padding: 30px;
        position: relative;
        background-color: red;
        /* width: 70%; */
    }
    /* .image img {
        width: 1000px;
    } */
    
    .image #svg {
        position: absolute;
        top: 0;
        left: 0;
        opacity: .4;
    }
    
    .image svg path {
        mix-blend-mode: multiply;
        fill: #fa6595;
    }
    
    .color-picker {
        text-align: center;
        margin-bottom: 200px;
    }